.component-root-layout {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-color: "#37446B";
    -fx-background-radius: 10px;
}

.amount-nama-container-bill-card {
    -fx-spacing: 10px;
}