.page-root-layout{
    -fx-background-color: transparent;
}

.customers-container-all-customer {
    -fx-alignment: top-center;
    -fx-spacing: 20px;
    -fx-padding: 15px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}