.page-root-layout {
    -fx-alignment: top-center;
    -fx-spacing: 20px;
    -fx-padding: 50px 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}