VBox {
    -fx-background-color: "#2C3656";
    -fx-padding: 10px;
    -fx-max-width: 400px;
    -fx-alignment: center;
    -fx-background-radius: 10px;
}

.labelTanggal {
    -fx-font-size: 16px;
    -fx-padding: 5px 0 5px 0;
}

.labelJam {
    -fx-font-size: 51px;
    -fx-padding: 5px 0 5px 0;
}

.label {
    -fx-text-fill: "#D2D6E3";
}