.page-root-layout{
    -fx-background-color: transparent;
}

.barang-container {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
    -fx-padding: 20px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.setting-label {
    -fx-text-fill: "#D2D6E3";
    -fx-padding: 10px 0;
}