.page-root-layout {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.left-pane-transaction-history {
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-padding: 20px;
}